.main-topic-details{
    text-align: center;
}
.btn-blue {
    background-color: #6cfa0e; /* blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
