.manage-consignment-main {
    width: 96%;
    height: 40%;
    align-content: center;
    margin-left: 30px;
    margin-top: 20px;
    border: none;
}
.consignment-details {
    margin-left: 270px;
}
.consignment-details2 {
    margin-left: 0px;
}
.consignment-details3 {
    margin-left: 70px;
}
.cons-d-item {
    margin-top: 2mm;
}
.consignment-search-bar {
    width: 800px;

    margin-left: 100px;
}

.consignment-search-bar-lable {
    font-size: 24px;
    color: grey;
    margin-left: 270px;
}
.consignment-search-bar-lable12 {
    font-size: 16px;
    color: grey;
    margin-left: 15px;
}
.consignment-search-bar-bottom{
    margin-top: 7mm;
}

.consignment-table-lable {
    font-size: 16px;
    color: grey;
    margin-left: 400px;
}
.con-detaails-table{
    margin-top: 20px;
}
