.service-center-validation-main {
    width: 96%;
    height: 40%;
    align-content: center;
    margin-left: 30px;
    margin-top: 20px;
    border: none;
}
.service-center-validation {
    margin-left: 200px;
}
.cons-d-item {
    margin-top: 3mm;
}
.consignment-search-bar {
    width: 800px;

    margin-left: 300px;
}
.details-validation{
    padding-right:50px;
    float: right;
    margin-top:-400px;
}
.floatright{
    float: right;
}
.validation-hr{
    width: 100%;
    border-color:rgb(0, 0, 0);
    border-width:1mm;
    margin-top: 70PX;;
}
.sales-pack{
    padding-left:600px;
}
.footer-links {
    list-style-type: none;

}
.footer-li{
    margin-left: -7mm;
}

